<div class="container mt-3">
  <div *ngFor="let post of posts">
    <div *ngIf="!post.active">
      <div
        [ngClass]="{
          'bg-dark text-light': post.type === 'politic',
          'bg-info': post.type === 'education',
          'bg-warning': post.type === 'news'
        }"
        class="card mt-4"
      >
        <div class="card-header d-flex align-items-center">
          <h3 class="bg-yellow">Post</h3>
        </div>
        <div class="card-body">
          <h5 class="card-title">{{ post.title | uppercase }}</h5>
          <p class="card-text">
            {{ post.body }}
          </p>
          <a class="btn btn-primary">Attiva post</a>
        </div>
      </div>
    </div>
  </div>
</div>
